.leaflet-bar .tag-filter-tags-container {
    display: none;
    position: absolute;
    width:120px;
    top:0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 7px #999;
    background: #fff;
    z-index: 1000;
    padding-bottom: 10px;
    padding-left: 5px;
}

.leaflet-bar .tag-filter-tags-container a {
    width: 100%;
    text-align: right;
    right: 5px;
    position: relative;
}

.leaflet-bar .tag-filter-tags-container div {
    text-align: left;
    padding-left: 5px;
}

.tag-filter-tags-container label {
    display: inline;
}

.tag-filter-tags-container .regular-checkbox {
    display: none;
}

.tag-filter-tags-container .regular-checkbox + label {
    top: 7px;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.tag-filter-tags-container .regular-checkbox + label:active, .regular-checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.tag-filter-tags-container .regular-checkbox:checked + label {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

.tag-filter-tags-container .regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #99a1a7;
}
